/*@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light.ttf");
}
*/
.res-circle {

  width: 42px;
  border-radius: 50%;
  border:2px solid;

  line-height: 0;
  position: relative;
}

.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


.circle-txt {

  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;

  font-family: arial, sans-serif;
  font-weight: bold;
}

mat-expansion-panel{
  padding: 10px;
}
mat-expansion-panel-header{
  padding: 15px;
}

mat-list-item{
  padding: 2%;
}

#solution {
  width: 100%;
}

.solution-info {
  background-color: grey;
  margin-top: 10px;
}

.solution-info-card {
  background-color: dimgrey;
  margin-top: 10px;
}

.mat-card mat-list mat-list-item {
  font-size: 14px;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  border-radius: 4px;
}
